
- hosts: all
  become: true
  pre_tasks:
    - name: Update Linux
      ansible.builtin.apt:
        update_cache: yes
        cache_valid_time: 3600
  roles: 
    - role: geerlingguy.pip 
      vars:
        pip_install_packages:
          - name: docker

  tasks:
    - name: Install required system packages
      apt:
        name: "{{ item }}"
        state: present
        update_cache: yes
      loop:
        - apt-transport-https
        - ca-certificates
        - curl
        - software-properties-common
        - gnupg-agent

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu focal stable
        state: present

    - name: Install docker-ce
      apt:
        name: "{{ item }}"
        state: present
        update_cache: true
      loop:
        - docker-ce
        - docker-ce-cli
        - containerd.io

    - name: Template Docker-compose
      ansible.builtin.template:
        src: .env
        dest: '.env' 
        mode: 0644

    - name: Copy docker compose file
      ansible.builtin.copy:
        src: docker-compose.yml
        dest: 'docker-compose.yml'
        mode: 0644

    - name: Copy Makefile compose file
      ansible.builtin.copy:
        src: Makefile
        dest: 'Makefile'
        mode: 0644

    - name: Build container
      ansible.builtin.command:
        cmd: make compose-build 
        changed_when: false
      
    - name: Run container
      ansible.builtin.command:
        cmd: make compose
        changed_when: false

  handlers:
      - name: restart docker
        service:
          name: docker
          state: restarted

